<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="stochlite_gazebo">

        <!-- Enable the Joint Control -->
        <gazebo>
            <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control">
            <legacyModeNS>true</legacyModeNS>
            </plugin>
        </gazebo>

        <gazebo>
            <self_collide>1</self_collide>
        </gazebo>

        <gazebo>
            <plugin filename="libgazebo_ros_p3d.so" name="p3d_base_controller">
                <alwaysOn>true</alwaysOn>
                <updateRate>10.0</updateRate>
                <bodyName>base_link</bodyName>
                <topicName>odom/ground_truth</topicName>
                <gaussianNoise>0.01</gaussianNoise>
                <frameName>world</frameName>
                <xyzOffsets>0 0 0</xyzOffsets>
                <rpyOffsets>0 0 0</rpyOffsets>
            </plugin>
        </gazebo>

        <gazebo>
            <plugin filename="libhector_gazebo_ros_imu.so" name="imu_controller">
                <updateRate>50.0</updateRate>
                <bodyName>imu_link</bodyName>
                <topicName>imu/data</topicName>
                <accelDrift>0.005 0.005 0.005</accelDrift>
                <accelGaussianNoise>0.005 0.005 0.005</accelGaussianNoise>
                <rateDrift>0.005 0.005 0.005 </rateDrift>
                <rateGaussianNoise>0.005 0.005 0.005 </rateGaussianNoise>
                <headingDrift>0.005</headingDrift>
                <headingGaussianNoise>0.005</headingGaussianNoise>
            </plugin>
        </gazebo>

        <gazebo reference="tof_link">
            <sensor type="ray" name="tof_sensor">
                <visualize>true</visualize>
                <update_rate>70</update_rate>
                <always_on>1</always_on>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>10</samples>
                            <resolution>2</resolution>
                            <min_angle>-0.02618</min_angle>
                            <max_angle>0.02618</max_angle>
                        </horizontal>
                        <vertical>
                            <samples>10</samples>
                            <resolution>2</resolution>
                            <min_angle>-0.02618</min_angle>
                            <max_angle>0.02618</max_angle>
                        </vertical>
                    </scan>
                    <range>
                        <min>0.02</min>
                        <max>2</max>
                        <!-- <radius>0.33974388395</radius> -->
                        <resolution>0.05</resolution>
                    </range>
                </ray>
                <plugin name="tof_plugin" filename="libgazebo_ros_range.so">
                    <topicName>gazebo/range_tof</topicName>
                    <frameName>range_tof_map</frameName>
                    <gaussianNoise>0.06</gaussianNoise>
                    <updateRate>70</updateRate>
                    <radiation>light</radiation>
                    <fov>0.43</fov>
                </plugin>
            </sensor>
        </gazebo>

    </xacro:macro>

</robot>