<robot name = 'stochlite' xmlns:xacro = 'http://www.ros.org/wiki/xacro'>

    <xacro:include filename="$(find stochlite_description)/urdf/stochlite.description.xacro" />
    <xacro:include filename="$(find stochlite_description)/urdf/stochlite.transmission.xacro" />
    <xacro:include filename="$(find stochlite_description)/urdf/stochlite.gazebo.xacro" />
    <xacro:include filename="$(find stochlite_description)/urdf/stochlite.materials.xacro" />
    
    <xacro:stochlite_description />
    <xacro:stochlite_transmission />
    <xacro:stochlite_gazebo />
    <xacro:stochlite_materials />
</robot>