<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="stochlite_transmission">

        <transmission name="fl_abd_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="fl_abd_joint">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="fl_abd_motor">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="fl_hip_joint_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="fl_hip_joint">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="fl_hip_joint_motor">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="fl_knee_joint_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="fl_knee_joint">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="fl_knee_joint_motor">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="fr_abd_joint_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="fr_abd_joint">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="fr_abd_joint_motor">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="fr_hip_joint_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="fr_hip_joint">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="fr_hip_joint_motor">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="fr_knee_joint_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="fr_knee_joint">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="fr_knee_joint_motor">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="bl_abd_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="bl_abd_joint">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="bl_abd_motor">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="bl_hip_joint_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="bl_hip_joint">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="bl_hip_joint_motor">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="bl_knee_joint_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="bl_knee_joint">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="bl_knee_joint_motor">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="br_abd_joint_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="br_abd_joint">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="br_abd_joint_motor">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="br_hip_joint_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="br_hip_joint">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="br_hip_joint_motor">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="br_knee_joint_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="br_knee_joint">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="br_knee_joint_motor">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

    </xacro:macro>

</robot>