<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="stochlite_materials">

        <!-- Add material and friction -->
        <gazebo reference="base_link_torso">
            <material>Gazebo/White</material>
            <mu1>1.0</mu1>
            <mu2>0.5</mu2>
        </gazebo>

        <gazebo reference="fl_abd_link">
            <material>Gazebo/Grey</material>
            <mu1>1.0</mu1>
            <mu2>0.5</mu2>
        </gazebo>

        <gazebo reference="fl_thigh_link">
            <material>Gazebo/DarkGrey</material>
            <mu1>1.0</mu1>
            <mu2>0.5</mu2>
        </gazebo>

        <gazebo reference="fl_shank_link">
            <material>Gazebo/Grey</material>
            <mu1>1.0</mu1>
            <mu2>0.5</mu2>
        </gazebo>

        <gazebo reference="fr_abd_link">
            <material>Gazebo/Grey</material>
            <mu1>1.0</mu1>
            <mu2>0.5</mu2>
        </gazebo>

        <gazebo reference="fr_thigh_link">
            <material>Gazebo/DarkGrey</material>
            <mu1>1.0</mu1>
            <mu2>0.5</mu2>
        </gazebo>

        <gazebo reference="fr_shank_link">
            <material>Gazebo/Grey</material>
            <mu1>1.0</mu1>
            <mu2>0.5</mu2>
        </gazebo>

        <gazebo reference="bl_abd_link">
            <material>Gazebo/Grey</material>
            <mu1>1.0</mu1>
            <mu2>0.5</mu2>
        </gazebo>

        <gazebo reference="bl_thigh_link">
            <material>Gazebo/DarkGrey</material>
            <mu1>1.0</mu1>
            <mu2>0.5</mu2>
        </gazebo>

        <gazebo reference="bl_shank_link">
            <material>Gazebo/Grey</material>
            <mu1>1.0</mu1>
            <mu2>0.5</mu2>
        </gazebo>

        <gazebo reference="br_abd_link">
            <material>Gazebo/Grey</material>
            <mu1>1.0</mu1>
            <mu2>0.5</mu2>
        </gazebo>

        <gazebo reference="br_thigh_link">
            <material>Gazebo/DarkGrey</material>
            <mu1>1.0</mu1>
            <mu2>0.5</mu2>
        </gazebo>

        <gazebo reference="br_shank_link">
            <material>Gazebo/Grey</material>
            <mu1>1.0</mu1>
            <mu2>0.5</mu2>
        </gazebo>

    </xacro:macro>

</robot>